<!DOCTYPE html>
<html>
<head>
    <style>
header {
    color: rgb(255, 255, 255);
    text-align: center;
}


    </style>
<title>Page Title</title>
</head>
<body>
{{> header}}
<p>Home page</p>


{{> footer}}
</body>
</html>