<!DOCTYPE html>
<html>
<head>
    <style>
header {
    color: rgb(255, 255, 255);
    text-align: center;
}


    </style>
<title>Login</title>
</head>
<body>
{{> header}}
<p>Login page</p>

<p><a href="https://www.w3schools.com/html/">Login AzureAD</a></p>

{{> footer}}
</body>
</html>

