<!DOCTYPE html>
<html>

<head>
    <style>
        header {
            color: rgb(255, 255, 255);
            text-align: center;
        }
    </style>
    <title>Login</title>
</head>

<body>
    {{> header}}
    <p>Logout page</p>

    Logged out {{> footer}}
</body>

</html>